{% extends 'base.html.twig' %}

{% block title %}Edit UserChatroom{% endblock %}

{% block body %}
    <h1>Edit UserChatroom</h1>

    {{ include('user_chatroom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_chatroom_index') }}">back to list</a>

    {{ include('user_chatroom/_delete_form.html.twig') }}
{% endblock %}
